.card-container {
  position: relative; 
  transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .card-container:hover {
    transform: scale(1.05); 
    outline: 3px solid #fff; 
  }
}
